---
import ProjectIcon from "@components/project/ProjectIcon.astro"
import type { TProject, TProjectCategory } from "@src/types/ProjectContentType"
import { Image } from "astro:assets"

type Props = TProject & {
    category: TProjectCategory
}

const {
    title,
    category,
    description,
    additionalDescription,
    imageUrl,
    icons,
    url,
} = Astro.props
---

<a
    href=`${url}`
    id={title.toLowerCase()}
    class={`${category}-project project-card group`}
>
    <div class="relative mx-6 mb-5 lg:mr-60">
        <Image
            class="max-w-[300px] rounded-md object-cover shadow-md shadow-white/5 outline outline-2 outline-white/10 transition-shadow duration-500 group-hover:shadow-xl group-hover:shadow-blue-300/10 sm:h-auto sm:min-w-[400px] sm:max-w-[400px] lg:max-w-[450px] xl:max-w-[500px]"
            src={imageUrl}
            alt="Project Image"
            width={300 * 3}
            height={200 * 3}
        />
        <div
            class="absolute bottom-0 left-0 h-min w-fit -translate-x-6 translate-y-5 rounded-md bg-gradient-to-br from-[#202020] to-charcoal to-35% p-2 shadow-md shadow-white/5 outline outline-2 outline-white/10"
        >
            <div class="flex items-center gap-2">
                {
                    icons.map(icon => (
                        <ProjectIcon
                            type={icon}
                            class="size-4 sm:size-5 lg:size-6"
                        />
                    ))
                }
            </div>
        </div>
        <div
            class="absolute bottom-0 right-0 h-min max-w-[65%] translate-x-6 translate-y-5 rounded-md bg-gradient-to-br from-[#202020] to-charcoal to-35% p-2 shadow-md shadow-white/5 outline outline-2 outline-white/10 transition-shadow duration-500 ease-in-out group-hover:shadow-lg group-hover:shadow-blue-300/10 lg:inset-y-0 lg:my-auto lg:max-w-[75%] lg:translate-x-3/4 lg:translate-y-0 lg:p-4"
        >
            <h1
                class="mb-1 text-sm sm:text-base md:text-lg lg:mb-2 lg:text-2xl xl:text-3xl"
            >
                {title}
            </h1>
            <p
                class="line-clamp-4 text-pretty text-xs sm:text-sm lg:line-clamp-[10] lg:text-base"
            >
                {description}
                <br />
                <span class="mt-1 hidden lg:inline-block"
                    >{additionalDescription}</span
                >
            </p>
        </div>
    </div>
</a>
